body{
    background-color: whitesmoke;
    min-width: 100vw;
    overflow-x: hidden;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');


.firsttitle{
    width: 100%;
    text-align: center;
    background-color:white;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: bolder;
}

.bodycontainer{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    width: 100vw;
}

.box{
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    min-height: 60vh;
    margin: 5vh;
    padding: 25px;
    border-radius:20px;
}

.actu_section_container{
    width: 100%;
    max-width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    margin: 50px;
}


.a_actulist{
    display: flex;
    flex-direction: row;
    width: 95%;
    max-width: 1000px;
    background-color:white;
    margin-bottom: 10px;
    height: 200px;
}

h4{
    text-align: center;
}

.a_actulist:hover{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.281);
    transition: transform 0.2s, box-shadow 0.2s;
    transform: scale(1.015);
}

.actu_miniature{
    width: 50%;
    object-fit: cover;
}
.actu_nomlist{
    width: 40%;
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content:center;
    color: black;
    font-size: 25px;
    text-align: center;
}

.actu_section_item{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.actu_img{
    width: 100%;
    border-radius: 15px;
}

.actu_section_title{
    font-weight: bolder;
    font-size: 30px;
    margin-bottom: 10px;
}
.actu_section_text{
    width: 85%;
    text-align: center;
}

.actu_title{
    width: 70%;
    text-align: center;
    font-size: 40px;
    font-weight: 100;
    text-transform: uppercase;
}
.imgsmaller{
    width: 75%;
}

.actu_date{
    font-weight: bolder;
}


.newsection_contenu{
    display: none;
    color: gray;
}

@media (max-width: 800px){


    .a_actulist{
        width: 100vw;
        flex-direction: column-reverse;
        height: auto;
        margin-bottom: 20px;
    }
    .actu_miniature{
        width: 100%;
        object-fit: cover;
    }
    .actu_nomlist{
        margin-left: 0%;
        width: 100%;
        padding: 50px;
    }

    .actu_section_container{
        flex-direction: column;
    }
}

.video{
    background-color: rgb(0, 0, 0);
}