#navbar{
    position: sticky;
    z-index: 999;
    top:0;
}

#navbar_top{
    height: 8vh;
    max-height: 80px;
    background-color: rgb(77, 211, 166);
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    position: relative;
    width: 100vw;
}
#navbar_bottom{
    height: 7vh;
    max-height: 70px;
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    list-style: none;
    position: relative;
    width: 100vw;
}

#navbarimg{
    position: absolute;
    left: 10%;
    height: 60%;
}
.burger{
    display: none;
    position: absolute;
    right: 0%;
    height: 50%;
    width: 40%;
    font-size: 8vh;
    color: white;
    background-image: url(../img/burgerpng.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#logoconainters{
    position: absolute;
    right: 10%;
    max-height: 100%;
    display: flex;
    flex-direction: row;
}

.navbarlogo{
    height: 4vh;
    max-height: 30px;
    margin: 1vh;
    cursor: pointer;
}
.navbarlogo.search{
    position: absolute;
    height: 3vh;
    max-height: 23px !important;
    margin-right: 28%;
    cursor: auto;
}

.linavbar{
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: clamp(10px, 2vw, 18px);
    text-align: center;
}

.liContainer{
    width: fit-content;
    margin: 0.2%;
    padding: 0.8%;
    overflow: hidden;
    position: relative;
}

.liSelectLine{
    width: 200%;
    height: 2px;
    background-color: rgb(0, 0, 0);
    margin-left: -50%;
    align-self: flex-end;
    position: absolute;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.2s;
}

#sous_categories_container{
    position: absolute;
    background-color: rgb(255, 255, 255);
    z-index: 900;
    width: 100%;
    position: fixed;
}

#sous_categories{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.9s, opacity 0.25s;
    opacity: 0;
}

.div_souscategorie{
    margin-left: 1%;
    margin-right: 1%;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.souscategorieTitle{
    margin-top: 15px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: clamp(10px, 1.8vh, 17px);
}

.souscategorieLink{
    margin-bottom: 1vh;
    font-size: clamp(10px, 1.8vh, 17px);
    text-decoration: none;
    color: gray;
    cursor: pointer;
}
.souscategorieLink:hover{
    color: rgb(75, 75, 75);
}

#navbar_searchinput{
    width: 30%;
    height: 5vh;
    max-height: 35px;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 20px;
    transition: background-color 0.25s;
    font-family: 'Roboto', sans-serif;
    font-size: clamp(10px, 2.2vh, 17px);
    margin-top:1vh;
}
#navbar_searchinput:hover{
    background-color: rgb(233, 233, 233);
}

#logoconainters a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center !important;
    color: white;
    font-size: clamp(5px, 1vh, 10px);
}

@media (max-width: 1200px){
    #navbar_searchinput{
    display: none;
    }
    .navbarlogo{
    display: none;
    }
    #navbarimg{
        position: absolute;
        height: 80%;
        left: 10%;
        width: 50%;
        object-fit: contain;
    }
    #navbar_bottom{
        display: none;
    }
    #navbar_top{
        height: 15vh;
    }
    .burger{
        display: block;
    }
}